

<style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-569617789837378712.gps.gpsil [style*="--aspect:"]{aspect-ratio:var(--aspect)}.gps-569617789837378712.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-569617789837378712.gps.gpsil [style*="--hvr-bg:"]:hover{background:var(--hvr-bg)}.gps-569617789837378712.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-569617789837378712.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-569617789837378712.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-569617789837378712.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-569617789837378712.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-569617789837378712.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-569617789837378712.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-569617789837378712.gps.gpsil [style*="--hvr-b:"]:hover{border:var(--hvr-b)}.gps-569617789837378712.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-569617789837378712.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-569617789837378712.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-569617789837378712.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-569617789837378712.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-569617789837378712.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-569617789837378712.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-569617789837378712.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-569617789837378712.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-569617789837378712.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-569617789837378712.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-569617789837378712.gps.gpsil [style*="--hvr-c:"]:hover{color:var(--hvr-c)}.gps-569617789837378712.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-569617789837378712.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-569617789837378712.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-569617789837378712.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-569617789837378712.gps.gpsil [style*="--fs:"]{font-style:var(--fs)}.gps-569617789837378712.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-569617789837378712.gps.gpsil [style*="--h:"]{height:var(--h)}.gps-569617789837378712.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-569617789837378712.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-569617789837378712.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-569617789837378712.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-569617789837378712.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-569617789837378712.gps.gpsil [style*="--ml:"]{margin-left:var(--ml)}.gps-569617789837378712.gps.gpsil [style*="--mr:"]{margin-right:var(--mr)}.gps-569617789837378712.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-569617789837378712.gps.gpsil [style*="--objf:"]{-o-object-fit:var(--objf);object-fit:var(--objf)}.gps-569617789837378712.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-569617789837378712.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-569617789837378712.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-569617789837378712.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-569617789837378712.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-569617789837378712.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-569617789837378712.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-569617789837378712.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-569617789837378712.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-569617789837378712.gps.gpsil [style*="--tt:"]{text-transform:var(--tt)}.gps-569617789837378712.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-569617789837378712.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-569617789837378712.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-569617789837378712.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-569617789837378712.gps.gpsil [style*="--h-tablet:"]{height:var(--h-tablet)}.gps-569617789837378712.gps.gpsil [style*="--jc-tablet:"]{justify-content:var(--jc-tablet)}.gps-569617789837378712.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-569617789837378712.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-569617789837378712.gps.gpsil [style*="--ml-tablet:"]{margin-left:var(--ml-tablet)}.gps-569617789837378712.gps.gpsil [style*="--mr-tablet:"]{margin-right:var(--mr-tablet)}.gps-569617789837378712.gps.gpsil [style*="--mt-tablet:"]{margin-top:var(--mt-tablet)}.gps-569617789837378712.gps.gpsil [style*="--pb-tablet:"]{padding-bottom:var(--pb-tablet)}.gps-569617789837378712.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-569617789837378712.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-569617789837378712.gps.gpsil [style*="--pt-tablet:"]{padding-top:var(--pt-tablet)}.gps-569617789837378712.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-569617789837378712.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-569617789837378712.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-569617789837378712.gps.gpsil [style*="--gtc-mobile:"]{grid-template-columns:var(--gtc-mobile)}.gps-569617789837378712.gps.gpsil [style*="--h-mobile:"]{height:var(--h-mobile)}.gps-569617789837378712.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-569617789837378712.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-569617789837378712.gps.gpsil [style*="--ml-mobile:"]{margin-left:var(--ml-mobile)}.gps-569617789837378712.gps.gpsil [style*="--mr-mobile:"]{margin-right:var(--mr-mobile)}.gps-569617789837378712.gps.gpsil [style*="--mt-mobile:"]{margin-top:var(--mt-mobile)}.gps-569617789837378712.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-569617789837378712.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-569617789837378712.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-569617789837378712.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-569617789837378712.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-569617789837378712.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-569617789837378712 .gp-relative{position:relative}.gps-569617789837378712 .gp-z-1{z-index:1}.gps-569617789837378712 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-569617789837378712 .gp-mb-0{margin-bottom:0}.gps-569617789837378712 .gp-flex{display:flex}.gps-569617789837378712 .gp-inline-flex{display:inline-flex}.gps-569617789837378712 .gp-grid{display:grid}.gps-569617789837378712 .gp-contents{display:contents}.gps-569617789837378712 .\!gp-hidden{display:none!important}.gps-569617789837378712 .gp-hidden{display:none}.gps-569617789837378712 .gp-h-auto{height:auto}.gps-569617789837378712 .gp-h-full{height:100%}.gps-569617789837378712 .gp-w-full{width:100%}.gps-569617789837378712 .gp-max-w-full{max-width:100%}.gps-569617789837378712 .gp-flex-none{flex:none}.gps-569617789837378712 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-569617789837378712 .gp-flex-col{flex-direction:column}.gps-569617789837378712 .gp-items-center{align-items:center}.gps-569617789837378712 .gp-justify-center{justify-content:center}.gps-569617789837378712 .gp-gap-y-0{row-gap:0}.gps-569617789837378712 .gp-overflow-hidden{overflow:hidden}.gps-569617789837378712 .gp-break-words{overflow-wrap:break-word}.gps-569617789837378712 .gp-rounded-none{border-radius:0}.gps-569617789837378712 .gp-text-center{text-align:center}.gps-569617789837378712 .gp-no-underline{text-decoration-line:none}.gps-569617789837378712 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569617789837378712 .gp-duration-200{transition-duration:.2s}.gps-569617789837378712 .gp-duration-300{transition-duration:.3s}.gps-569617789837378712 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-569617789837378712 .disabled\:gp-btn-disabled:disabled{cursor:default}.gps-569617789837378712 .disabled\:gp-pointer-events-none:disabled{pointer-events:none}.gps-569617789837378712 .disabled\:gp-opacity-30:disabled{opacity:.3}@media (hover:hover) and (pointer:fine){.gps-569617789837378712 .gp-group\/button:hover .group-hover\/button\:\!gp-text-inherit{color:inherit!important}}.gps-569617789837378712 .gp-group\/button:active .group-active\/button\:\!gp-text-inherit{color:inherit!important}.gps-569617789837378712 .gp-group\/button[data-state=loading] .group-data-\[state\=loading\]\/button\:gp-invisible{visibility:hidden}@media (max-width:1024px){.gps-569617789837378712 .tablet\:\!gp-hidden{display:none!important}.gps-569617789837378712 .tablet\:gp-hidden{display:none}.gps-569617789837378712 .tablet\:gp-h-auto{height:auto}.gps-569617789837378712 .tablet\:gp-flex-none{flex:none}}@media (max-width:767px){.gps-569617789837378712 .mobile\:\!gp-hidden{display:none!important}.gps-569617789837378712 .mobile\:gp-hidden{display:none}.gps-569617789837378712 .mobile\:gp-h-auto{height:auto}.gps-569617789837378712 .mobile\:gp-flex-none{flex:none}}.gps-569617789837378712 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}.gps-569617789837378712 .\[\&_p\]\:gp-inline p{display:inline}.gps-569617789837378712 .\[\&_p\]\:gp-whitespace-pre-line p{white-space:pre-line}.gps-569617789837378712 .\[\&_p\]\:after\:gp-whitespace-pre-wrap p:after{content:var(--tw-content);white-space:pre-wrap}.gps-569617789837378712 .\[\&_p\]\:after\:gp-content-\[\'\\A\'\] p:after{--tw-content:"\A";content:var(--tw-content)}</style>

       
      
            <section
              class="gp-mx-auto gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
              style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:0px;--pl-tablet:0px;--pl-mobile:0px;--pr:0px;--pr-tablet:0px;--pr-mobile:0px"
            >
              
    <div
      id="gPWf7lp-MO" data-id="gPWf7lp-MO"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mb:0px;--pt:50px;--pl:15px;--pr:15px;--mb-mobile:0px;--pt-mobile:72px;--pl-mobile:15px;--pr-mobile:15px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#EDEFF3;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gPWf7lp-MO gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="g2wcjbxjfH gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gNEQ55bqUG" data-id="gNEQ55bqUG"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--cg:0px;--pc:start;--gtc:minmax(0, 6fr) minmax(0, 6fr);--gtc-mobile:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gNEQ55bqUG gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end"
      class="gfCClO_aJK gp-relative gp-flex gp-flex-col"
    >
      
       
      
    <div
      parentTag="Col" id="gRzpQ7e58n" data-id="gRzpQ7e58n"
        style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--mt:var(--g-s-2xl);--ml:auto;--mb:var(--g-s-2xl);--mr:auto;--pr:86px;--mt-mobile:auto;--ml-mobile:auto;--mb-mobile:49px;--mr-mobile:auto;--pr-mobile:0px;--mt-tablet:auto;--ml-tablet:auto;--mb-tablet:var(--g-s-2xl);--mr-tablet:auto;--pr-tablet:14px;--cg:32px;--pc:start;--gtc:minmax(0, 12fr);--w:556px;--w-tablet:100%;--w-mobile:100%;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll"
        class="gRzpQ7e58n gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-gap-y-0 gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]"
    >
    <div
      label="Block" tag="Col" type="component"
      style="--jc:start"
      class="gyI1BtLjBJ gp-relative gp-flex gp-flex-col"
    >
      
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gIiIYW7yJC">
    <div
      parentTag="Col"
        class="gIiIYW7yJC "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-l)"
      >
      <div class="gp-flex" style="--jc:left">
        <h1
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--fs:normal;--ff:var(--g-font-heading, heading);--weight:400;--ls:normal;--size:51px;--size-tablet:44px;--size-mobile:44px;--lh:120%;--lh-tablet:120%;--lh-mobile:120%;--c:#242424;--tt:none;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggIiIYW7yJC_text | replace: '$locationOrigin', locationOrigin }}</h1>
      </div>
    </div>
    </gp-text>
    
  {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
  <gp-text data-id="gARIIlI2Mm">
    <div
      parentTag="Col"
        class="gARIIlI2Mm "
        style="--ta:left;--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--mb:var(--g-s-2xl)"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          
          data-gp-text
          class="[&_p]:gp-inline [&_p]:after:gp-whitespace-pre-wrap [&_p]:after:gp-content-['\A'] gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--fs:normal;--ff:var(--g-font-body, body);--weight:400;--ls:normal;--size:16px;--size-tablet:16px;--size-mobile:16px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#424242;word-break:break-word;overflow:hidden"
        >{{ section.settings.ggARIIlI2Mm_text | replace: '$locationOrigin', locationOrigin }}</div>
      </div>
    </div>
    </gp-text>
    
  <gp-button >
  <div
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    
  >
    <style>
    .gHhXbYibmP.gp-button-base::before {
      content: "";
      height: 100%;
      width: 100%;
      position: absolute;
      pointer-events: none;
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #242424;
  
      
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      border-top-left-radius: 0px;
      border-top-right-radius: 0px;
      
    }

    .gHhXbYibmP:hover::before {
      border-style: solid;
  border-width: 1px 1px 1px 1px;
  border-color: #424242;
  
      
    }

    .gHhXbYibmP:hover .gp-button-icon {
      color: #FFFFFF;
    }

     .gHhXbYibmP .gp-button-icon {
      color: #FFFFFF;
    }

    .gHhXbYibmP:hover .gp-button-price {
      color: #FFFFFF;
    }

    .gHhXbYibmP .gp-button-price {
      color: #FFFFFF;
    }

    .gHhXbYibmP .gp-product-dot-price {
       color: #FFFFFF;
    }

    .gHhXbYibmP:hover .gp-product-dot-price {
      color: #FFFFFF;
    }
  </style>
    <a
      href="#" target="_self" data-id="gHhXbYibmP" aria-label="Shop organic products"
      
      data-state="idle"
      class="gHhXbYibmP gp-button-base gp-group/button gp-rounded-none gp-max-w-full gp-relative gp-inline-flex gp-items-center gp-justify-center gp-no-underline gp-transition-colors gp-duration-300 disabled:gp-btn-disabled disabled:gp-opacity-30 disabled:gp-pointer-events-none gp-text-center"
      style="--hvr-bg:#424242;--bg:#242424;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--shadow:none;--pl:48px;--pr:48px;--pt:11px;--pb:11px;--pl-tablet:48px;--pr-tablet:48px;--pt-tablet:11px;--pb-tablet:11px;--pl-mobile:10px;--pr-mobile:10px;--pt-mobile:9.5px;--pb-mobile:9.5px;--w:Auto;--w-tablet:Auto;--w-mobile:100%;--h:Auto;--h-tablet:Auto;--h-mobile:Auto;--hvr-c:#FFFFFF;--c:#FFFFFF;--size:16px;--size-tablet:16px;--size-mobile:14px;--fs:normal;--ff:var(--g-font-body, body);--weight:600;--ls:normal;--lh:150%;--lh-tablet:150%;--lh-mobile:150%"
    >
      
    <div
    class="gp-inline-flex">
    
      <span
        data-gp-text
        class="gp-content-product-button group-hover/button:!gp-text-inherit group-active/button:!gp-text-inherit  gp-button-text-only gp-break-words group-data-[state=loading]/button:gp-invisible [&_p]:gp-whitespace-pre-line gp-z-1 gp-h-full gp-flex gp-items-center gp-overflow-hidden 
        "
        style="--size:16px;--size-tablet:16px;--size-mobile:14px;--hvr-c:#FFFFFF;--c:#FFFFFF"
      >
        {{ section.settings.ggHhXbYibmP_label }}
      </span>
      </div>
    
    </a>
  </div>
  </gp-button>

    </div>
    </div>
   
    
    </div><div
      label="Block" tag="Col" type="component"
      style="--jc:center;--jc-tablet:end"
      class="gLzshZ_wPZ gp-relative gp-flex gp-flex-col"
    >
      <div
    
     data-id="gFwMgIS3zs"
    role="presentation"
    class="gp-group/image gFwMgIS3zs gp-flex-none gp-h-auto mobile:gp-flex-none mobile:gp-h-auto tablet:gp-flex-none tablet:gp-h-auto"
    style="--bs:solid;--bw:0px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--ta:left"
    >
      <div
        class="pointer-events-auto gp-h-full gp-flex"
        
        class="gp-h-full gp-w-full"
        style="--shadow:none;border-radius:inherit;--jc:left"
      >
        
  <picture style="border-radius: inherit" class="gp-contents">
  
      <source media="(max-width: 767px)" data-srcSet="{{ "gempages_569616803924280135-5c1b295f-4688-4a50-8c9a-85ec28a04bf5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNjEtOTE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDYxIiBoZWlnaHQ9IjkxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIGZpbGw9InVybCgjZy0xMDYxLTkxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNjEiIHRvPSIxMDYxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <source media="(max-width: 1024px)" data-srcSet="{{ "gempages_569616803924280135-5c1b295f-4688-4a50-8c9a-85ec28a04bf5.png" | file_url }}" srcset="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNjEtOTE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDYxIiBoZWlnaHQ9IjkxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIGZpbGw9InVybCgjZy0xMDYxLTkxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNjEiIHRvPSIxMDYxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+" />
      <img
        
        class="gp-h-full gp-max-w-full gp-flex gp_lazyload"
        src="data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+CiAgICA8ZGVmcz4KICAgICAgPGxpbmVhckdyYWRpZW50IGlkPSJnLTEwNjEtOTE2Ij4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjIwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjUwJSIgLz4KICAgICAgICA8c3RvcCBzdG9wLWNvbG9yPSJyZ2JhKDUxLCA1MSwgNTEsIDApIiBvZmZzZXQ9IjcwJSIgLz4KICAgICAgPC9saW5lYXJHcmFkaWVudD4KICAgIDwvZGVmcz4KICAgIDxyZWN0IHdpZHRoPSIxMDYxIiBoZWlnaHQ9IjkxNiIgZmlsbD0icmdiYSg1MSwgNTEsIDUxLCAwKSIgLz4KICAgIDxyZWN0IGlkPSJyIiB3aWR0aD0iMTA2MSIgaGVpZ2h0PSI5MTYiIGZpbGw9InVybCgjZy0xMDYxLTkxNikiIC8+CiAgICA8YW5pbWF0ZSB4bGluazpocmVmPSIjciIgYXR0cmlidXRlTmFtZT0ieCIgZnJvbT0iLTEwNjEiIHRvPSIxMDYxIiBkdXI9IjFzIiByZXBlYXRDb3VudD0iaW5kZWZpbml0ZSIgIC8+CiAgPC9zdmc+"
        data-src="{{ "gempages_569616803924280135-5c1b295f-4688-4a50-8c9a-85ec28a04bf5.png" | file_url }}"
        width="100%"
        alt="Alt Image"
        style="--aspect:auto;--objf:cover;--w:707px;--w-tablet:100%;--w-mobile:100%;--h:auto;--h-tablet:auto;--h-mobile:auto"
      />
    
  </picture>
      </div>
  </div>
    </div>
    </div>
   
    
    </div>
    </div>
  
            </section>
           
    


{% schema %}
  {
    
    "name": "Section 1",
    "tag": "section",
    "class": "gps-569617789837378712 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/dev-test-05/apps/gempages-cro/app/shopify/edit?pageType=GP_INDEX&editorId=569616808923890482&sectionId=569617789837378712)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggIiIYW7yJC_text","label":"ggIiIYW7yJC_text","default":"Discover the elegance of pure comfort and style"},{"type":"html","id":"ggARIIlI2Mm_text","label":"ggARIIlI2Mm_text","default":"Our tops are crafted from luxurious silk, offering a breathable and lightweight feel perfect for summer. The natural sheen and smooth texture provide a sophisticated look, making it a must-have for any wardrobe."},{"type":"html","id":"ggHhXbYibmP_label","label":"ggHhXbYibmP_label","default":"Shop organic products"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
